:root {
    --grid-size: 0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
    border: 5px solid black;
    /* margin: calc( 10px * var(--grid-size)); */
    max-width: 80vh;
    margin: 40px auto;
    padding: 0px;

}

.square {
    border: 1px solid black;
    aspect-ratio: 1/1;
    flex: 0 1 calc((100% / var(--grid-size)) - 0px);
    flex-shrink: 1;
}