:root {
    --grid-size: 0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
    border: 5px solid black;
    max-width: 80vh;
    margin: 0px auto;
    padding: 0px;

}

.square {
    border: 0px solid black;
    aspect-ratio: 1/1;
    flex: 0 1 calc((100% / var(--grid-size)) - 0px);
    flex-shrink: 1;
}

.hover {
    background-color: black;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    padding: 30px;
}

button {
    width: 200px;
    padding: 10px 5px;
    font-size: 28px;
    border-radius: 10px;
}